<section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
  <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
     <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Toys Shop</h3>
     <div class="row">
       <div class="side-bar col-lg-3">
        <app-sidebar (salut)="getproduitsBycat($event)" (prixselected)= "getproduitsByprix($event)" (libelleSearched)="getProductBylibelle($event)"></app-sidebar>
       </div>
        <div class="left-ads-display col-lg-9">
           <div class="row">
         
                <div class="col-lg-4 col-md-6 col-sm-6 product-men women_two" *ngFor="let p of ListProduct">
                
                  <div class="product-toys-info">
                     <div class="men-pro-item">
                        <div class="men-thumb-item">
                           <img src="../../assets/images/p1.jpg" class="img-thumbnail img-fluid" alt="">
                           <div class="men-cart-pro">
                              <div class="inner-men-cart-pro">
                                 <a href="single.html" class="link-product-add-cart">{{p.code}}</a>
                              </div>
                           </div>
                           <span class="product-new-top">New</span>
                        </div>
                        <div class="item-info-product">
                           <div class="info-product-price">
                              <div class="grid_meta">
                                 <div class="product_price">
                                    <h4>
                                       <a href="single.html">{{p.libelle}}</a>
                                    </h4>
                                    <div class="grid-price mt-2">
                                       <span class="money ">{{p.prixUnitaire}}</span>
                                    </div>
                                 </div>
                                 <ul class="stars">
                                    <li>
                                       <a href="#">
                                       <i class="fas fa-star"></i>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#">
                                       <i class="fas fa-star"></i>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#">
                                       <i class="fas fa-star"></i>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#">
                                       <i class="fas fa-star" ></i>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#">
                                       <i class="far fa-star-half-o"></i>
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                              <div class="toys single-item hvr-outline-out">
                                 <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="toys_item" value="toys(barbie)">
                                    <input type="hidden" name="amount" value="575.00">
                                    <button type="submit" class="toys-cart ptoys-cart">
                                   
                                       <a (click)="addToCart(p)" class="clickable">    <i class="fas fa-cart-plus">
                                 </i>
                              </a> 
                                    </button>
                                 </form>
                              </div>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                  
                  </div>
               </div>


               </div>
               </div>
        </div>
     </div>
  </div>
</section>

